.cache.pkl
_development
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
tmp.py
tmp
events.db
.env
.venv
__pycache__
out/te.jsonnet
out/underline.jsonnet
out/skillboxes.jsonnet
**/*.egg-info/
events.db-journal
# This is not filtered properly, so is too large and useless to commit
out/cksl.jsonnet
libsqlite.so
