beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
cleanurl==0.1.15
cssselect==1.2.0
datefinder==0.7.3
extruct==0.16.0
html-text==0.5.2
html2md==0.1.7
html5lib==1.1
idna==3.6
isodate==0.6.1
jstyleson==0.0.2
langcodes==3.3.0
lxml==5.1.0
mf2py==2.0.1
pyparsing==3.1.2
pyquery==2.0.0
pyRdfa3==3.6.2
python-dateutil==2.9.0.post0
python-jsonpath==1.1.1
pytz==2024.1
rdflib==7.0.0
regex==2023.12.25
requests==2.31.0
six==1.16.0
soupsieve==2.5
urllib3==2.2.1
w3lib==2.1.2
webencodings==0.5.1
